<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot_201910_maven:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springboot_201910_maven_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springboot_201910_maven/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot_201910_maven" />
        </element>
      </element>
    </root>
  </artifact>
</component>